.gallery {
	margin-top: 10vw;
}

.gallery__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}

.gallery__list-item {
	width: 45%;
	padding: 20px;
}

.gallery__list-item {

    &:nth-child(even) {
        margin-top: 10%;
    }
}