.gallery {
	margin-top: 10vw;
	font-size: 16px;
}

.gallery__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

@media (min-width: 768px) {
	.gallery__list-item {
		width: 45%;
		padding: 20px;
	}

	.gallery__list-item {

		&:nth-child(even) {
			margin-top: 10%;
		}
	}
}