*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-width: 320px;
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.8;
	scroll-behavior: smooth;

	@media (min-width: 768px) {
		font-size: 22px;
	}
}

body {
	margin: 0;
}

section {

	& + & {
		margin-top: 10%;
	}
}

a {
	color: inherit;

	// &:visited {
	// 	color: black;
	// }
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

:first-child {
	margin-top: 0;
}

:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.wysiwyg {
		padding: 0 4vw;
	}
}