.gallery {
	margin-top: 5vw;
	font-size: 16px;
}

.gallery__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

.gallery__list-item {

	@media (min-width: 768px) {
		width: 45%;
		padding: 20px;
	}

	&:nth-child(even) {

		@media (min-width: 768px) {
			margin-top: 10%;
		}
	}

	& + & {

		@media (max-width: (768px - 1px)) {
			margin-top: 3em;
		}
	}
}