.content {
	max-width: 75vw;
	margin: 0 auto;
	padding-top: 1em;
}

.header {
	height: 100vh;
    color: white;
	background: no-repeat 50%;
    background-size: cover;
}

.header__wrapper {
	position: absolute;
	bottom: 5px;
}

.header__heading {
	white-space: nowrap;
	font-size: 2em;
	line-height: normal;
	margin-bottom: 0;
	padding-top: 10px;
	padding-left: 15px;

	@media (min-width: 500px) {
		padding-left: 10%;
	}

	@media (min-width: 768px) {
		padding-top: 50px;
	}
}

.header-menu {
	font-size: 1em;

	@media (min-width: 500px) {
		margin-left: 20px;
	}
}

.header__menu-list {
	display: flex;
	justify-content: left;
	margin: 0;
	margin-top: -8px;
	padding: 0;
	list-style-type: none;

	@media (min-width: 500px) {
		justify-content: left;
	}

	/*@media (min-width: 1440px) {
		display: block;
	}

	& li {

		& + li {
			padding-top: 20px;
		}
	}*/

	a {
		display: block;
		padding: 15px;
	}
}

.menu-item {

	a {
		text-decoration: none;
	}
}

.about,
.contact {

	@media (min-width: 768px) {
		padding: 0 44px;
	}
}

.footer {
	display: flex;
	margin: 0 auto;
	padding-top: 3em;
	font-size: 16px;
	justify-content: center;

	a {
		color: black;
	}
}

.footer__copyright {
	margin-top: 1em;
}

.footer__social {
	margin-left: 1em;
}